<article id="addDeal" class="col-xs-9 col-md-6">
<h1 class="h1">Wprowadź dane</h1>
<form>
<!-- W hand -->
<p class="text-info">W</p>
<div>
<span>&spades;</span>
<label class="checkbox-inline" ng-repeat="(card,chosen) in deal.WSpadesOption track by $index" ng-if="!deal.ESpadesOption[card][0] && (deal.checkCards('W') || deal.WSpadesOption[card][0])">
<input type="checkbox" ng-model="deal.WSpadesOption[card][0]" />
<span class="card">{{chosen[1]}}</span>
</label>
</div>
<div>
<span>&hearts;</span>
<label class="checkbox-inline" ng-repeat="(card,chosen) in deal.WHeartsOption track by $index" ng-if="!deal.EHeartsOption[card][0] && (deal.checkCards('W') || deal.WHeartsOption[card][0])">
<input type="checkbox" ng-model="deal.WHeartsOption[card][0]" />
<span class="card">{{chosen[1]}}</span>
</label>
</div>
<div>
<span>&diams;</span>
<label class="checkbox-inline" ng-repeat="(card,chosen) in deal.WDiamsOption track by $index" ng-if="!deal.EDiamsOption[card][0] && (deal.checkCards('W') || deal.WDiamsOption[card][0])">
<input type="checkbox" ng-model="deal.WDiamsOption[card][0]" />
<span class="card">{{chosen[1]}}</span>
</label>
</div>
<div>
<span>&clubs;</span>
<label class="checkbox-inline" ng-repeat="(card,chosen) in deal.WClubsOption track by $index" ng-if="!deal.EClubsOption[card][0] && (deal.checkCards('W') || deal.WClubsOption[card][0])">
<input type="checkbox" ng-model="deal.WClubsOption[card][0]" />
<span class="card">{{chosen[1]}}</span>
</label>
</div>
<!-- E hand -->
<p class="text-info">E</p>
<div>
<span>&spades;</span>
<label class="checkbox-inline" ng-repeat="(card,chosen) in deal.ESpadesOption track by $index" ng-if="!deal.WSpadesOption[card][0] && (deal.checkCards('E') || deal.ESpadesOption[card][0])">
<input type="checkbox" ng-model="deal.ESpadesOption[card][0]" />
<span class="card">{{chosen[1]}}</span>
</label>
</div>
<div>
<span>&hearts;</span>
<label class="checkbox-inline" ng-repeat="(card,chosen) in deal.EHeartsOption track by $index" ng-if="!deal.WHeartsOption[card][0] && (deal.checkCards('E') || deal.EHeartsOption[card][0])">
<input type="checkbox" ng-model="deal.EHeartsOption[card][0]" />
<span class="card">{{chosen[1]}}</span>
</label>
</div>
<div>
<span>&diams;</span>
<label class="checkbox-inline" ng-repeat="(card,chosen) in deal.EDiamsOption track by $index" ng-if="!deal.WDiamsOption[card][0] && (deal.checkCards('E') || deal.EDiamsOption[card][0])">
<input type="checkbox" ng-model="deal.EDiamsOption[card][0]" />
<span class="card">{{chosen[1]}}</span>
</label>
</div>
<div>
<span>&clubs;</span>
<label class="checkbox-inline" ng-repeat="(card,chosen) in deal.EClubsOption track by $index" ng-if="!deal.WClubsOption[card][0] && (deal.checkCards('E') || deal.EClubsOption[card][0])">
<input type="checkbox" ng-model="deal.EClubsOption[card][0]" />
<span class="card">{{chosen[1]}}</span>
</label>
</div>
Najlepszy:
<div>
    <span class="btn" ng-click="deal.setDiff(1,'best')">&#9733;</span>
    <span class="btn" ng-click="deal.setDiff(2,'best')">&#9733;&#9733;</span>
    <span class="btn" ng-click="deal.setDiff(3,'best')">&#9733;&#9733;&#9733;</span>
    <span class="btn" ng-click="deal.setDiff(4,'best')">&#9733;&#9733;&#9733;&#9733;</span>
    <span class="btn" ng-click="deal.setDiff(5,'best')">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
</div>
Dobry:
<div>
    <span class="btn" ng-click="deal.setDiff(1,'good')">&#9733;</span>
    <span class="btn" ng-click="deal.setDiff(2,'good')" ng-if="deal.best>=2 || !deal.best">&#9733;&#9733;</span>
    <span class="btn" ng-click="deal.setDiff(3,'good')" ng-if="deal.best>=3 || !deal.best">&#9733;&#9733;&#9733;</span>
    <span class="btn" ng-click="deal.setDiff(4,'good')" ng-if="deal.best>=4 || !deal.best">&#9733;&#9733;&#9733;&#9733;</span>
    <span class="btn" ng-click="deal.setDiff(5,'good')" ng-if="deal.best>=5 || !deal.best">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
</div>
Niezły:
<div>
    <span class="btn" ng-click="deal.diff=deal.setDiff(1,'fair')">&#9733;</span>
    <span class="btn" ng-click="deal.diff=deal.setDiff(2,'fair')" ng-if="(deal.good>=2 || !deal.good) && (deal.best>=2 || !deal.best)">&#9733;&#9733;</span>
    <span class="btn" ng-click="deal.diff=deal.setDiff(3,'fair')" ng-if="(deal.good>=3 || !deal.good) && (deal.best>=3 || !deal.best)">&#9733;&#9733;&#9733;</span>
    <span class="btn" ng-click="deal.diff=deal.setDiff(4,'fair')" ng-if="(deal.good>=4 || !deal.good) && (deal.best>=4 || !deal.best)">&#9733;&#9733;&#9733;&#9733;</span>
    <span class="btn" ng-click="deal.diff=deal.setDiff(5,'fair')" ng-if="(deal.good>=5 || !deal.good) && (deal.best>=5 || !deal.best)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
</div>

</form>
</article>
<aside id="preview" class="col-xs-3 col-md-6">
<h1 class="h1">Podgląd</h1>
<!-- W hand preview -->
<div class="col-xs-12 col-md-6">
<h3 class="h3">W</h3>
<p><span class="suit">&spades;</span>{{deal.parseSuit(deal.WSpadesOption)}}</p>
<p><span class="suit">&hearts;</span>{{deal.parseSuit(deal.WHeartsOption)}}</p>
<p><span class="suit">&diams;</span>{{deal.parseSuit(deal.WDiamsOption)}}</p>
<p><span class="suit">&clubs;</span>{{deal.parseSuit(deal.WClubsOption)}}</p>
</div>
<!-- E hand preview -->
<div class="col-xs-12 col-md-6">
<h3 class="h3">E</h3>
<p><span class="suit">&spades;</span>{{deal.parseSuit(deal.ESpadesOption)}}</p>
<p><span class="suit">&hearts;</span>{{deal.parseSuit(deal.EHeartsOption)}}</p>
<p><span class="suit">&diams;</span>{{deal.parseSuit(deal.EDiamsOption)}}</p>
<p><span class="suit">&clubs;</span>{{deal.parseSuit(deal.EClubsOption)}}</p>
</div>
<!-- Difficulty -->
<table class="table-bordered">
<thead class="text-info">Poziom trudności</thead>
<tr><td>Najlepszy</td><td ng-bind-html="deal.parseDiff(deal.best)"></td></tr>
<tr><td>Dobry</td><td ng-bind-html="deal.parseDiff(deal.good)"></td></tr>
<tr><td>Niezły</td><td ng-bind-html="deal.parseDiff(deal.fair)"></td></tr>
</table>
</aside>